@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    z-index: 2; }

body::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0px;
    background-image: url(images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* Typography */
html {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 { 
    font-weight: 400;
    font-family: 'DM Serif Display', serif; }

h1 {
    font-size: 4rem;
    line-height: 1;
    padding: 50px 0;
}

h2 { 
    font-size: 3.5rem;
    padding: 40px 0;
}

h3 { padding: 20px 0; }

h4 {
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    padding: 30px 0;
}

p { line-height: 1.5; }

a { 
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 700;
}

li { list-style: none; }

/* Base Styling for multiple divs */
.format {
    display: flex;
    justify-content: space-between;
    align-items: center; }
/* ----------------------------- */

/* Navbar */
.navbar {
    position: relative;
    height: 70px;
    padding: 0 7vw;
    z-index: 2;
} 

.navbar__links {
    color: var(--dark-grayish-violet);
    font-size: 90%;
    width: 450px;
}

.navbar__links li:last-of-type {
    color: var(--dark-violet);
    border: 1px solid var(--dark-violet);
    padding: 10px 15px;
}

.navbar__links li:hover { color: var(--dark-violet); }

.navbar__links li:last-of-type:hover {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
}

.mobile__nav { 
    background-color: transparent;
    display: none;
    border: none; }
.close-out { display: none; }

/* Header */
.header { 
    position: relative;
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    padding: 0px 7vw;
    margin-bottom: 200px;
}

.header::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: -100px;
    background: url(images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.header-content,
.img-container { max-width: 45%; }

.header-content { margin: auto 0; }

.desktop-main-img {
    transform: translateY(25%);
    margin-top: -40px;
}

/* Buttons */
.btn {
    position: relative;
    background-color: transparent;
    color: var(--very-light-gray);
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 15px;
    border: none;
    border: 1px solid var(--very-light-gray);
    z-index: 5;
}

.btn:hover {
    background-color: var(--very-light-gray);
    color: var(--dark-violet);
}

button:focus { 
    cursor: pointer;
    outline: none; 
}

/* Different */
.different__section { padding: 0 7vw; }

.different-container { padding: 40px 0; }

.difference { width: calc(95% / 3); }
.difference p { color: var(--dark-grayish-violet); }

/* Banner */
.banner {
    position: relative;
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    padding: 0 7vw;
    width: 85%;
    margin: 100px auto;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.banner h2 {
    width: 60%;
    line-height: 1;
}

/* Footer */ 
.footer {
    background-color:var(--very-light-gray);
    position: relative;
    padding: 30px 7vw;
}

.footer::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

.footer .logo { z-index: 2; }

.socials { padding: 30px 0; }

.social-links {
    color: var(--dark-grayish-violet);
    width: 20%;
    font-size: 140%;
    z-index: 2; }
.social-links i:hover { color: var(--dark-violet); }

.social-links span { display: none; }

/* Links on Bottom */
.resource-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
    position: relative;
    z-index: 2;
}
.resource-links li { padding-bottom: 15px; }
.resource-links li:hover { text-decoration: underline; }

/* MQs */
@media screen and (max-width: 940px) {
    h1 { 
        font-size: 3rem;
        padding: 35px 0; }
    h2 { font-size: 2.5rem; }

    .desktop-main-img { width: 432px; height: 520px; }
}

@media screen and (max-width: 800px) {
    body::after {
        background-image: url(images/bg-pattern-intro-right-mobile.svg);
        background-position: 100% 35%;
    }

    .mobile__nav { display: block; }
    .show .hamburger { display: none; }
    .show .close-out { display: block; }
    .show .navbar__links { transform: translateX(0); }

    .navbar__links {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        background-color: var(--dark-violet);
        color: var(--very-light-gray);
        left: 0; top: 70px;
        height: calc(100vh - 70px);
        width: 100%;
        padding-top: 15vh;
        transform: translateX(100%);
        transition: 0.8s ease;
    }

    .navbar__links::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        background-image: url(images/bg-pattern-mobile-nav.svg);
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .navbar__links li { padding-bottom: 5vh; }
    .navbar__links li:last-of-type { 
        color: var(--very-light-gray);
        border: 1px solid var(--very-light-gray);
        width: 95%; 
    }

    .different-container,
    .banner,
    .socials { flex-direction: column; }

    .header,
    .different__section,
    .banner,
    .resource-links { text-align: center; }

    .header-content,
    .img-container { max-width: 100%; }

    .header { 
        flex-direction: column-reverse;
        margin-bottom: 70px;
        padding: 0; }
    .header::after { background-image: url(none); }

    .header hr { display: none; }

    h1 { padding: 20px 0; }
    h2 { 
        padding: 0;
        width: 100%; }

    .header-content { 
        position: relative;
        padding: 50px 20px; 
    }

    .header-content::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-image: url(images/bg-pattern-intro-left-mobile.svg);
        background-position: top left;
        background-repeat: no-repeat;
    }

    .desktop-main-img {
        transform: translateY(0%);
        margin-top: 0px;
        width: 100vw;
    }

    .different__section { padding: 20px 7vw; }
    .different__section hr {
        margin: auto;
        width: 40%;
        transform: translateY(-30px);
    }

    .difference { 
        margin-bottom: 40px;
        width: 100%; }
    .difference:last-of-type { margin-bottom: 0; }

    .banner {
        margin: 50px auto;  
        padding: 20px 7vw; }
    .banner::after { background-image: url(images/bg-pattern-how-we-work-mobile.svg); }

    .banner h2 { 
        width: 100%;
        font-size: 2rem;
        padding: 20px 0;
    }

    .footer { padding: 15px 0; }
    .footer::after { background-image: url(images/bg-pattern-footer-mobile.svg); }

    .social-links { 
        width: 35%; 
        padding-top: 20px;
    }

    .resource-links { 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; }
     .resource-links a { font-weight: 400; }
}